:root {
    --main-button-color: #4CAF50;
    --main-button-hover-color: #3e8e41;
    /* --external-link-button-color: #FF5722; */
    --external-link-button-color: #9C27B0;
    --external-link-button-hover-color: #6A1B9A;
    --alert-color: #FF4081; 
}

/* Background image */
body {
    background-image: url("https://www.civitatis.com/f/espana/cartagena/entrada-museo-teatro-romano-r32.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

/* Card Styles */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.card h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 8px;
}

.card p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
}

p.special-instructions {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 20px 0;
    color: var(--alert-color);
    background-color: rgba(221,241,253,0.7);
    margin: 0 auto;
    max-width: 50%;
    text-align: right;
    margin-right: 0;
}

@media only screen and (max-width: 700px) {
    p.special-instructions {
        max-width: 90% !important;
        text-align: center !important;
        margin-right: auto !important;
    }
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Card Grid Styles */
.card-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* Disabled Card Styles */
.card.sold {
    opacity: 0.7;
    position: relative;
}

.card.sold::before {
    content: "NO DISPONIBLE";
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: red;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.card.sold:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card.sold:hover::before {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card.sold a {
    pointer-events: none;
}

/* Button styles */
.button {
display: inline-block;
padding: 8px 16px;
border: none;
border-radius: 4px;
background-color: var(--main-button-color);
color: white;
text-align: center;
font-size: 16px;
cursor: pointer;
margin-right: 10px;
}

.button:hover {
background-color: var(--main-button-hover-color);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ver-trailer-btn {
    /* background-color: var(--main-color); */
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

.contexto-btn {
    /* background-color: var(--main-color); */
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

.external{
    background-color: var(--external-link-button-color);
}

.external:hover {
background-color: var(--external-link-button-hover-color);
}

/* Modal Styles */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }

  .modal-content {
    display: block;
    margin: auto;
    width: 90%;
    height: 0;
    padding-bottom: 50%; /* 16:9 Aspect Ratio */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .modal-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: calc(100vh - 100px); */
  }

  @media screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    
    #video-player {
      /* Adjust the video size for small screens */
      width: 100%;
      height: 100%;
    }
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* Info Modal Styles */
#info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .info-modal-content {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
  }
  
  .info-modal-content iframe {
    width: 100%;
    height: 100%;
  }
  
  .close-2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .close-2:hover,
  .close-2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  